/SvnRevisionLabeller.suo
/_ReSharper.SvnRevisionLabeller/BuildScriptCache/.crc
/_ReSharper.SvnRevisionLabeller/BuildScriptCache/.version
/_ReSharper.SvnRevisionLabeller/BuildScriptCache/3/6b035abe.dat
/_ReSharper.SvnRevisionLabeller/ModuleIds.xml
/_ReSharper.SvnRevisionLabeller/NamedArguments/.crc
/_ReSharper.SvnRevisionLabeller/NamedArguments/.version
/_ReSharper.SvnRevisionLabeller/NamedArguments/3/6b035abe.dat
/_ReSharper.SvnRevisionLabeller/ProjectModel/ProjectModel.dat
/_ReSharper.SvnRevisionLabeller/Resources/.crc
/_ReSharper.SvnRevisionLabeller/Resources/.version
/_ReSharper.SvnRevisionLabeller/SymbolCache.bin
/_ReSharper.SvnRevisionLabeller/TagPrefixes/.crc
/_ReSharper.SvnRevisionLabeller/TagPrefixes/.version
/_ReSharper.SvnRevisionLabeller/TodoCache/.crc
/_ReSharper.SvnRevisionLabeller/TodoCache/.version
/_ReSharper.SvnRevisionLabeller/TodoCache/7/43ef36f3.dat
/_ReSharper.SvnRevisionLabeller/WebsiteFileReferences/.crc
/_ReSharper.SvnRevisionLabeller/WebsiteFileReferences/.version
/_ReSharper.SvnRevisionLabeller/WordIndex/.crc
/_ReSharper.SvnRevisionLabeller/WordIndex/.version
/_ReSharper.SvnRevisionLabeller/WordIndex/3/6b035abe.dat
/src/ccnet.SvnRevisionLabeller.plugin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/test/ccnet.SvnRevisionLabeller.tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SvnRevisionLabeller.5.1.ReSharper.user
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/NetReflector.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ThoughtWorks.CruiseControl.Core.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ThoughtWorks.CruiseControl.Core.xml
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ThoughtWorks.CruiseControl.Remote.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ThoughtWorks.CruiseControl.Remote.xml
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ccnet.SvnRevisionLabeller.plugin.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ccnet.SvnRevisionLabeller.plugin.pdb
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/NetReflector.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/ThoughtWorks.CruiseControl.Core.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/ThoughtWorks.CruiseControl.Core.xml
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/ThoughtWorks.CruiseControl.Remote.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/ThoughtWorks.CruiseControl.Remote.xml
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/ccnet.SvnRevisionLabeller.plugin.dll
/src\ccnet.SvnRevisionLabeller.plugin\obj\Debug/ccnet.SvnRevisionLabeller.plugin.csproj.FileListAbsolute.txt
/src\ccnet.SvnRevisionLabeller.plugin\obj\Debug/ccnet.SvnRevisionLabeller.plugin.csprojResolveAssemblyReference.cache
/src\ccnet.SvnRevisionLabeller.plugin\obj\Debug/ccnet.SvnRevisionLabeller.plugin.dll
/src\ccnet.SvnRevisionLabeller.plugin\obj\Debug/ccnet.SvnRevisionLabeller.plugin.pdb
/src\ccnet.SvnRevisionLabeller.plugin\obj\Release/DesignTimeResolveAssemblyReferencesInput.cache
/src\ccnet.SvnRevisionLabeller.plugin\obj\Release/ccnet.SvnRevisionLabeller.plugin.csproj.FileListAbsolute.txt
/src\ccnet.SvnRevisionLabeller.plugin\obj\Release/ccnet.SvnRevisionLabeller.plugin.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/NetReflector.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/Rhino.Mocks.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/Rhino.Mocks.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ThoughtWorks.CruiseControl.Core.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ThoughtWorks.CruiseControl.Core.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ThoughtWorks.CruiseControl.Remote.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ThoughtWorks.CruiseControl.Remote.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ccnet.SvnRevisionLabeller.plugin.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ccnet.SvnRevisionLabeller.plugin.pdb
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ccnet.SvnRevisionLabeller.tests.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ccnet.SvnRevisionLabeller.tests.pdb
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/nunit.framework.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/nunit.framework.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/NetReflector.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/Rhino.Mocks.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/Rhino.Mocks.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ThoughtWorks.CruiseControl.Core.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ThoughtWorks.CruiseControl.Core.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ThoughtWorks.CruiseControl.Remote.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ThoughtWorks.CruiseControl.Remote.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ccnet.SvnRevisionLabeller.plugin.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ccnet.SvnRevisionLabeller.tests.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ccnet.SvnRevisionLabeller.tests.pdb
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/nunit.framework.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/nunit.framework.xml
/test\ccnet.SvnRevisionLabeller.tests\obj\Debug/ccnet.SvnRevisionLabeller.tests.csproj.FileListAbsolute.txt
/test\ccnet.SvnRevisionLabeller.tests\obj\Debug/ccnet.SvnRevisionLabeller.tests.csprojResolveAssemblyReference.cache
/test\ccnet.SvnRevisionLabeller.tests\obj\Debug/ccnet.SvnRevisionLabeller.tests.dll
/test\ccnet.SvnRevisionLabeller.tests\obj\Debug/ccnet.SvnRevisionLabeller.tests.pdb
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/DesignTimeResolveAssemblyReferencesInput.cache
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/ccnet.SvnRevisionLabeller.tests.csproj.FileListAbsolute.txt
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/ccnet.SvnRevisionLabeller.tests.csprojResolveAssemblyReference.cache
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/ccnet.SvnRevisionLabeller.tests.dll
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/ccnet.SvnRevisionLabeller.tests.pdb
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/NetReflector.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ThoughtWorks.CruiseControl.Core.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ThoughtWorks.CruiseControl.Core.xml
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ThoughtWorks.CruiseControl.Remote.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ThoughtWorks.CruiseControl.Remote.xml
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ccnet.SvnRevisionLabeller.plugin.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ccnet.SvnRevisionLabeller.plugin.pdb
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/log4net.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/NetReflector.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/ThoughtWorks.CruiseControl.Core.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/ThoughtWorks.CruiseControl.Core.xml
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/ThoughtWorks.CruiseControl.Remote.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/ThoughtWorks.CruiseControl.Remote.xml
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/ccnet.SvnRevisionLabeller.plugin.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/log4net.dll
/src\ccnet.SvnRevisionLabeller.plugin\obj\Debug/ccnet.SvnRevisionLabeller.plugin.csproj.FileListAbsolute.txt
/src\ccnet.SvnRevisionLabeller.plugin\obj\Debug/ccnet.SvnRevisionLabeller.plugin.csprojResolveAssemblyReference.cache
/src\ccnet.SvnRevisionLabeller.plugin\obj\Debug/ccnet.SvnRevisionLabeller.plugin.dll
/src\ccnet.SvnRevisionLabeller.plugin\obj\Debug/ccnet.SvnRevisionLabeller.plugin.pdb
/src\ccnet.SvnRevisionLabeller.plugin\obj\Release/DesignTimeResolveAssemblyReferencesInput.cache
/src\ccnet.SvnRevisionLabeller.plugin\obj\Release/ccnet.SvnRevisionLabeller.plugin.csproj.FileListAbsolute.txt
/src\ccnet.SvnRevisionLabeller.plugin\obj\Release/ccnet.SvnRevisionLabeller.plugin.csprojResolveAssemblyReference.cache
/src\ccnet.SvnRevisionLabeller.plugin\obj\Release/ccnet.SvnRevisionLabeller.plugin.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/NetReflector.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/Rhino.Mocks.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/Rhino.Mocks.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ThoughtWorks.CruiseControl.Core.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ThoughtWorks.CruiseControl.Core.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ThoughtWorks.CruiseControl.Remote.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ThoughtWorks.CruiseControl.Remote.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ccnet.SvnRevisionLabeller.plugin.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ccnet.SvnRevisionLabeller.plugin.pdb
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ccnet.SvnRevisionLabeller.tests.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ccnet.SvnRevisionLabeller.tests.pdb
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/log4net.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/nunit.framework.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/nunit.framework.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/NetReflector.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/Rhino.Mocks.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/Rhino.Mocks.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ThoughtWorks.CruiseControl.Core.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ThoughtWorks.CruiseControl.Core.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ThoughtWorks.CruiseControl.Remote.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ThoughtWorks.CruiseControl.Remote.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ccnet.SvnRevisionLabeller.plugin.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ccnet.SvnRevisionLabeller.tests.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ccnet.SvnRevisionLabeller.tests.pdb
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/log4net.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/nunit.framework.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/nunit.framework.xml
/test\ccnet.SvnRevisionLabeller.tests\obj\Debug/ccnet.SvnRevisionLabeller.tests.csproj.FileListAbsolute.txt
/test\ccnet.SvnRevisionLabeller.tests\obj\Debug/ccnet.SvnRevisionLabeller.tests.csprojResolveAssemblyReference.cache
/test\ccnet.SvnRevisionLabeller.tests\obj\Debug/ccnet.SvnRevisionLabeller.tests.dll
/test\ccnet.SvnRevisionLabeller.tests\obj\Debug/ccnet.SvnRevisionLabeller.tests.pdb
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/DesignTimeResolveAssemblyReferencesInput.cache
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/build.force
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/ccnet.SvnRevisionLabeller.tests.csproj.FileListAbsolute.txt
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/ccnet.SvnRevisionLabeller.tests.csprojResolveAssemblyReference.cache
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/ccnet.SvnRevisionLabeller.tests.dll
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/ccnet.SvnRevisionLabeller.tests.pdb
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/NetReflector.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ThoughtWorks.CruiseControl.Core.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ThoughtWorks.CruiseControl.Core.xml
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ThoughtWorks.CruiseControl.Remote.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ThoughtWorks.CruiseControl.Remote.xml
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ccnet.SvnRevisionLabeller.plugin.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/ccnet.SvnRevisionLabeller.plugin.pdb
/src\ccnet.SvnRevisionLabeller.plugin\bin\Debug/log4net.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/NetReflector.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/ThoughtWorks.CruiseControl.Core.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/ThoughtWorks.CruiseControl.Core.xml
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/ThoughtWorks.CruiseControl.Remote.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/ThoughtWorks.CruiseControl.Remote.xml
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/ccnet.SvnRevisionLabeller.plugin.dll
/src\ccnet.SvnRevisionLabeller.plugin\bin\Release/log4net.dll
/src\ccnet.SvnRevisionLabeller.plugin\obj\Debug/ccnet.SvnRevisionLabeller.plugin.csproj.FileListAbsolute.txt
/src\ccnet.SvnRevisionLabeller.plugin\obj\Debug/ccnet.SvnRevisionLabeller.plugin.csprojResolveAssemblyReference.cache
/src\ccnet.SvnRevisionLabeller.plugin\obj\Debug/ccnet.SvnRevisionLabeller.plugin.dll
/src\ccnet.SvnRevisionLabeller.plugin\obj\Debug/ccnet.SvnRevisionLabeller.plugin.pdb
/src\ccnet.SvnRevisionLabeller.plugin\obj\Release/DesignTimeResolveAssemblyReferencesInput.cache
/src\ccnet.SvnRevisionLabeller.plugin\obj\Release/ccnet.SvnRevisionLabeller.plugin.csproj.FileListAbsolute.txt
/src\ccnet.SvnRevisionLabeller.plugin\obj\Release/ccnet.SvnRevisionLabeller.plugin.csprojResolveAssemblyReference.cache
/src\ccnet.SvnRevisionLabeller.plugin\obj\Release/ccnet.SvnRevisionLabeller.plugin.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/NetReflector.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/Rhino.Mocks.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/Rhino.Mocks.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ThoughtWorks.CruiseControl.Core.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ThoughtWorks.CruiseControl.Core.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ThoughtWorks.CruiseControl.Remote.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ThoughtWorks.CruiseControl.Remote.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ccnet.SvnRevisionLabeller.plugin.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ccnet.SvnRevisionLabeller.plugin.pdb
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ccnet.SvnRevisionLabeller.tests.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/ccnet.SvnRevisionLabeller.tests.pdb
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/log4net.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/nunit.framework.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Debug/nunit.framework.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/NetReflector.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/Rhino.Mocks.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/Rhino.Mocks.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ThoughtWorks.CruiseControl.Core.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ThoughtWorks.CruiseControl.Core.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ThoughtWorks.CruiseControl.Remote.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ThoughtWorks.CruiseControl.Remote.xml
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ccnet.SvnRevisionLabeller.plugin.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ccnet.SvnRevisionLabeller.tests.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/ccnet.SvnRevisionLabeller.tests.pdb
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/log4net.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/nunit.framework.dll
/test\ccnet.SvnRevisionLabeller.tests\bin\Release/nunit.framework.xml
/test\ccnet.SvnRevisionLabeller.tests\obj\Debug/ccnet.SvnRevisionLabeller.tests.csproj.FileListAbsolute.txt
/test\ccnet.SvnRevisionLabeller.tests\obj\Debug/ccnet.SvnRevisionLabeller.tests.csprojResolveAssemblyReference.cache
/test\ccnet.SvnRevisionLabeller.tests\obj\Debug/ccnet.SvnRevisionLabeller.tests.dll
/test\ccnet.SvnRevisionLabeller.tests\obj\Debug/ccnet.SvnRevisionLabeller.tests.pdb
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/DesignTimeResolveAssemblyReferencesInput.cache
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/build.force
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/ccnet.SvnRevisionLabeller.tests.csproj.FileListAbsolute.txt
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/ccnet.SvnRevisionLabeller.tests.csprojResolveAssemblyReference.cache
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/ccnet.SvnRevisionLabeller.tests.dll
/test\ccnet.SvnRevisionLabeller.tests\obj\Release/ccnet.SvnRevisionLabeller.tests.pdb
